body {
    background-color: #c4cdde;
}
#loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /*
    This doesn't work
    margin-left: -25%;
    margin-top: -25%;
    */

    width: 40%;
    height: 50%;

    padding: 20px;
    background: #265a88;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.0);
}

#loginForm > div {
    margin-bottom: 20px;
}

#flightsTable {
    position: relative;
    width: 90%;
    color: white;
    background: lightskyblue;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.0);
}

h2 {
    color: white;
}

.error-label {
    color: red;
    display: block;
    margin-top: 10px;
}

.myTooltip {
    position: relative;
    display: inline-block;
}

.myTooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-top: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0px;
}

.myTooltip:hover .tooltiptext {
    visibility: visible;
}